.logo {
  width: 185px;
}
.logo-container {
  padding: 15px;
}

.menu {
  list-style-type: none; /* Remove bullets */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margins */
}

.menu li {
  color: white;
  display: inline;
  padding-right: 20px;
}

.menu-button-text {
  color: white;
  text-decoration: none;
  font: 'Roboto';
}

.form-container {
  padding: 20px;
  margin-top: 10px;
  max-width: 700px;
  border-radius: 10px;
  margin: 0 auto;
  background-color: whitesmoke;
  display: block;
  align-items: center;
  justify-content: center;
}

.form-image {
  width: 100%;
  max-height: 300px;
}

.header-container {
  align-content: center;
  justify-content: center;
  width: 1024px;
  margin: 0 auto;
}

.summary-content {
  margin: 10px;
  font-size: large;
}

.dashboard-container {
  display: flex;
  flex-direction: row;
  
  justify-content: space-evenly;
  
}
