.form-field {
  margin: 10px;
  padding: 10px;
}

.survey-container {
  margin: 0 auto;
  padding: 10px;
  max-width: 1024px;
}

.survey-header {
  display: flex;
  color: white;
  justify-content: center;
  align-content: center;
  background-color: #abeff0;
}

.survey-img {
  float: right;
}

.submit-button {
  color: white;
}
